<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
   <div class="btn-group container" style="text-align: center">
   <h1><%= title %></h1>
    <form action="/login" method="post">
     <input type="password" name="password" style="text-align: center">
     <button class="btn btn-default" type="submit">
     登录
    </button>
     </form>
</div>
  </body>
</html>
